@import '../variables';


.myAuthForm {
  margin: 20px auto;

  width: 300px;
  padding: 20px;
  background-color: #fff;



  .myAuthAppName {
    margin: 0;
    font-size: 150%;
    text-align: center;
    font-family: Aladin;
  }


  .myAuthTitle {
    margin: 0;
    font-size: 170%;
    text-align: center;
    font-family: Dosis, sans-serif;
    font-weight: 600;

    position: relative;
    top: -10px;
  }





  $oauthDividinHRandORcolor: rgba($color: #000000, $alpha: 0.5);
  .myOauthDividingHR {
    margin: 0;
    border-bottom: 1px solid $oauthDividinHRandORcolor;

    position: relative;
    top: -25px;

  }


  .myOauthDividingOR {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 170%;
    font-family: Dosis;
    font-weight: 600;
    color: $oauthDividinHRandORcolor;
  }


  
  

}